<h1><a href="/">Band Tracker</a></h1>
<h3><%= @band.name %></h3>
<% if @venues.any? %>
  <h4>Select all venues where this band has played:</h4>
    <form action="/bands/<%= @band.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <% @venues.order("name ASC").each do |venue| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="venue_ids[]" value="<%= venue.id %>"><%= venue.name %>
          </label>
        </div>
      <% end %>
      <button type="submit" class="btn btn-info">Add venues</button>
    </form>
<% end %>
<br>
<h4>Here are all the venues where this band has played:</h4>
<% @band.venues.order("name ASC").each do |venue| %>
  <%= venue.name %><br>
<% end %>
<br>
<form action="/bands/<%= @band.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete band</button>
</form>
<br>
<a href="/bands/<%= @band.id %>/edit"><button type="submit" class="btn btn-info">Edit band</button></a>